<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/6ba36a5a2e.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ejsstyle.css">
    <title>Solved K Map</title>
    <link rel="shortcut icon" href="css/favicon.ico" type="image/x-icon">
</head>
<body>
    <p>
        <% for(let i=0;i<Answer.length;i++) { %>
            <% if(Answer[i]=="\n") { %>
                <br>
            <% } %>
            <% if(Answer[i]==" ") { %>
                &nbsp;
            <% } %>
            <%= Answer[i] %>
        <% } %>
    </p>
</body>
</html>